@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

$colors : (
	main : #4338ca,
	title : #e2e8f0,
	text : #cbd5e1,
	placeholder : #94a3b8,
	hover : #8b5cf6
);
$drop-filter : drop-shadow(7px 7px 1rem rgba(0, 0, 0, 0.5));

@function color($color) {
	@return map-get($colors, $color)
};

@mixin placeholder-styles {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: color(placeholder);
}
input::placeholder {
	@include placeholder-styles;
}
input::-webkit-input-placeholder {
	@include placeholder-styles;
}
input::-moz-placeholder {
	@include placeholder-styles;
}
input:-ms-input-placeholder {
	@include placeholder-styles;
}  

* {
    box-sizing: border-box;
	margin: 0;
    padding: 0;
	border: none;
}
h1, h2, h3 {
	color: color(title);
}
html, body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
    width: 100%;
    height: 100%;

	#container {
		height: 100%;
		width: 100%;

		#header {
			height: 8%;
			background-color: darken(color(main), 40%);
			position: relative;

			.project {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				margin-left: 2rem;
			}
		}

		#main {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			height: 84%;
			text-align: center;
			color: color(text);

			#current-weather {
				display: flex;
				flex-direction: column;
				flex-grow: 1;

				#main-info {
					display: flex;
					height: 60%;
					flex-direction: column;
					justify-content: space-evenly;
					align-items: center;
					background-image: linear-gradient(
						to bottom,
						darken(color(main), 20%),
						darken(color(main), 30%)
					);

					#temp {
						display: flex;
						gap: 1rem;
					}
					.temperature {
						font-weight: 300;
					}
					.units-switcher {
						color: color(title);
						transition: all 0.3s;
						cursor: pointer;
					}
					.units-switcher:hover {
						transition: all 0.3s;
						color: color(hover);
					}
					.search-field {
						background-color: transparent;
						border-bottom: color(text) solid 1px;
						outline: none;
						font-size: 1rem;
						color: color(text);
						transition: all 0.3s;
						width: 10rem;
						text-align: center;
					}
					.search-field:hover {
						transition: all 0.3s;
						border-bottom: color(hover) solid 1px;
						width: 13rem;
					}
					.submit {
						cursor: pointer;
						transition: all 0.3s;
					}
					.submit:hover {
						transition: all 0.3s;
						color: color(hover);
					}
					.weather-icon {
						height: 3rem;
						filter: $drop-filter;
					}
					
				}

				#other-info {
					display: grid;
					grid-template-columns: 1fr 1fr 1fr;
					background-color: darken(color(main), 30%);
					flex-grow: 1;

					> * {
						> * {
						padding-top: 1rem;
						}
					}
				}
			}

			#weather-forecast {
				display: grid;
				grid-template-columns: repeat(5, 1fr);
				flex-grow: 6;

				@for $i from 1 through 5 {
					#forecast-section-day-#{$i} {
						background-image: linear-gradient(
							to bottom,
							darken(darken(color(main), $i * 5%), 10%),
							darken(color(main), $i * 5%),
							darken(color(main), $i * 5%),
							darken(darken(color(main), $i * 5%), 10%)
						);
						padding-top: 100%;
						display: flex;
						flex-direction: column;
						gap: 1rem;
						align-items: center;
					}
					.forecast-icon-day-#{$i} {
						height: 4rem;
						width: fit-content;
						filter: $drop-filter;
					}
					.forecast-feels-like-day-#{$i} {
						padding-top: 1rem;
					}
				}
			}
		}

		#footer {
			height: 8%;
			background-color: darken(color(main), 40%);
		}
	}
}