@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

$colors : (
	main : #4338ca,
	title : #e2e8f0,
	text : #cbd5e1,
	placeholder : #94a3b8,
	hover : #8b5cf6
);
$drop-filter : drop-shadow(7px 7px 1rem rgba(0, 0, 0, 0.5));

@function color($color) {
	@return map-get($colors, $color)
};
@mixin desktop {
	@media (min-width : 700px) {
		@content
	}
}

@mixin placeholder-styles {
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color: color(placeholder);
}
input::placeholder {
	@include placeholder-styles;
}
input::-webkit-input-placeholder {
	@include placeholder-styles;
}
input::-moz-placeholder {
	@include placeholder-styles;
}
input:-ms-input-placeholder {
	@include placeholder-styles;
}  

* {
    box-sizing: border-box;
	margin: 0;
    padding: 0;
	border: 0;
}
h1, h2, h3 {
	color: color(title);
}
::-webkit-scrollbar {
	display: none;
}
@-moz-document url-prefix() {
	body {
	  scrollbar-width: none;
	}
}
html, body {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	background-color: darken(color(main), 30%);

	#container {
		width: 100%;
		overflow: hidden;

		#header {
			height: 8vh;
			width: 100%;
			background-color: darken(color(main), 40%);
			position: relative;

			.project {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				margin-left: 2rem;
			}
		}

		#main {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			text-align: center;
			color: color(text);

			#current-weather {
				display: flex;
				flex-direction: column;
				flex-grow: 1;
				height: 84%;

				#main-info {
					display: flex;
					flex-direction: column;
					padding-top: 2rem;
					gap: 2rem;
					flex-grow: 1;
					justify-content: space-between;
					align-items: center;
					background-image: linear-gradient(
						to bottom,
						darken(color(main), 20%),
						darken(color(main), 23%),
						darken(color(main), 30%)
					);

					#temp {
						display: flex;
						gap: 1rem;
					}
					.temperature {
						font-weight: 300;
					}
					.units-switcher {
						color: color(title);
						transition: all 0.3s;
						cursor: pointer;
					}
					.units-switcher:hover {
						transition: all 0.3s;
						color: color(hover);
					}
					.search-field {
						background-color: transparent;
						border-bottom: color(text) solid 1px;
						outline: none;
						font-size: 1rem;
						color: color(text);
						transition: all 0.3s;
						width: 10rem;
						text-align: center;
					}
					.search-field:hover {
						transition: all 0.3s;
						border-bottom: color(hover) solid 1px;
						width: 13rem;
					}
					.submit {
						cursor: pointer;
						transition: all 0.3s;
					}
					.submit:hover {
						transition: all 0.3s;
						color: color(hover);
					}
					.weather-icon {
						height: 3rem;
						filter: $drop-filter;
					}
					
				}

				#other-info {
					display: grid;
					grid-template-columns: 1fr 1fr;
					background-color: darken(color(main), 30%);
					flex-grow: 1;
					padding-top: 2rem;
					padding-bottom: 2rem;
					> * {
						> * {
						padding-top: 1rem;
						}
					}
				}
			}

			#weather-forecast {
				display: grid;
				grid-template-rows: repeat(5, 1fr);
				grid-template-columns: 1fr;
				@include desktop{
					grid-template-columns: repeat(5, 1fr);
					grid-template-rows: 1fr;
				}
				flex-grow: 2;
				height: 84vh;

				@for $i from 1 through 5 {
					#forecast-section-day-#{$i} {
						background-image: linear-gradient(
							to right,
							darken(darken(color(main), $i * 5%), 10%),
							darken(color(main), $i * 5%),
							darken(color(main), $i * 5%),
							darken(darken(color(main), $i * 5%), 10%)
						);
						display: grid;
						grid-template-columns: repeat(4, 1fr);
						align-items: center;
						justify-items: center;
						@include desktop {
							background-image: linear-gradient(
								to bottom,
								darken(darken(color(main), $i * 5%), 10%),
								darken(color(main), $i * 5%),
								darken(color(main), $i * 5%),
								darken(darken(color(main), $i * 5%), 10%)
							);
							display: flex;
							gap: 1rem;
							flex-direction: column;
							padding-top: 25vh;
							height: 100%;
							padding-left: 0.6rem;
							padding-right: 0.6rem;
						};
					}
					.forecast-temp-day-#{$i} {
						@include desktop {
							font-size: 1.5rem;
						}
						font-size: 1.1rem;
					}
					.forecast-icon-day-#{$i} {
						@include desktop {
							height: 4rem;
						}
						height: 3rem;
						width: fit-content;
						filter: $drop-filter;
					}
					#forecast-feels-like-day-#{$i} {
						.title {
							@include desktop {
								font-size: 1.17rem;
							}
							font-size: 1rem;
						}
						.forecast-feels-like-day-#{$i} {
							padding-top: 1rem;
						}
					}
				}
			}
		}

		#footer {
			height: 8vh;
			width: 100%;
			background-color: darken(color(main), 40%);
		}
	}
}