* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 100%;
}
#container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
}
#header {
    height: 50px;
    width: 100%;
    background-color: rgb(5, 8, 28);
}
#main {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    height: calc(100% - 100px);
    flex-basis: calc(100% - 100px);
    overflow-y: auto;
}
#footer {
    height: 50px;
    width: 100%;
    background-color: rgb(5, 8, 28);
    position: absolute;
    bottom: 0;
}
#current-weather {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
#main-info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(35, 40, 60);
}
#main-info > * {
    align-self: center;
    border: none;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
}
#temp {
    display: flex;
    gap: 1rem;
}
.units-switcher {
    transition: all 0.3s;
    cursor: pointer;
}
.units-switcher:hover {
    transition: all 0.3s;
    color: rgb(186, 216, 255);
}
.location {
    font-size: 1.7rem;
}
#main-info > .search-field {
    background-color: transparent;
    border-bottom: #fff solid 1px;
    outline: none;
    font-size: 1.2rem;
    transition: all 0.3s;
    width: 9rem;
    text-align: center;
}
#main-info > .search-field:hover {
    transition: all 0.3s;
    width: 13rem;
}
#main-info > .submit {
    cursor: pointer;
    transition: all 0.3s;
    color: rgb(255, 255, 255);
}
#main-info > .submit:hover {
    transition: all 0.3s;
    color: rgb(186, 216, 255);
}
#main-info > .weather-icon {
    height: 3rem;
    width: fit-content;
    filter: drop-shadow(7px 7px 30px rgb(0, 0, 0));
}
#other-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(25, 30, 50);
    color: #fff;
    border: none;
}
#other-info > * {
    text-align: center;
    padding: 1rem;
}
#weather-forecast {
    display: flex;
    flex-grow: 3;
    border: none;
    color: #fff;
}
#weather-forecast > * {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding-left: 10px;
    padding-right: 10px;
    gap: 1rem;
}
#forecast-section-day-one {
    background-color: rgb(45, 50, 70);
}
#forecast-section-day-two {
    background-color: rgb(35, 40, 60);
}
#forecast-section-day-three {
    background-color: rgb(25, 30, 50);
}
#forecast-section-day-four {
    background-color: rgb(15, 20, 40);
}
#forecast-section-day-five {
    background-color: rgb(5, 10, 30);
}
.forecast-icon-day-one {
    height: 3rem;
    width: fit-content;
    align-self: center;
    filter: drop-shadow(7px 7px 30px rgb(0, 0, 0));
}
.forecast-icon-day-two {
    height: 3rem;
    width: fit-content;
    align-self: center;
    filter: drop-shadow(7px 7px 30px rgb(0, 0, 0));
}
.forecast-icon-day-three {
    height: 3rem;
    width: fit-content;
    align-self: center;
    filter: drop-shadow(7px 7px 30px rgb(0, 0, 0));
}
.forecast-icon-day-four {
    height: 3rem;
    width: fit-content;
    align-self: center;
    filter: drop-shadow(7px 7px 30px rgb(0, 0, 0));
}
.forecast-icon-day-five {
    height: 3rem;
    width: fit-content;
    align-self: center;
    filter: drop-shadow(7px 7px 30px rgb(0, 0, 0));
}